body {
    background-color:
    rgba(0, 0, 0, 0.30);
    background-image: url(https://source.unsplash.com/1600x900/?recipes,food);
    background-repeat:no-repeat;
    background-size:cover;
    background-blend-mode: overlay;
}


.navbar-basic {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.dropdown-toggle-avatar {
    object-fit: cover;
    margin: 0;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 0;
    border: 2px solid #eee;
}

.profile-avatar {
  object-fit: cover;
  margin: 0;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  margin-right: 0;
}

//Buttons
.btn-primary {
    background-color:$orange;
    color:$white;
    border:0;
    &:hover {
        background-color:$dark-orange;
    }
}

.btn-secondary {
    background-color:$green;
    color:$white;
    border:0;
    &:hover {
        background-color:$dark-green;
    }
}

.jumbotron {
    background-color: transparent;
}

.card {
    border: 0 none;
}

.add-recipe-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

// //Global Form stylesheet
// .select2-container--default .select2-selection__choice {
//     background-color:$green !important;
//     color:$white !important;
// }
//
// .select2-container--default .select2-selection--multiple .select2-selection__choice__remove  {
//     color:$white !important;
//     &:hover {
//         color:$black !important;
//     }
// }

.w-15 {
  width: 15% !important;
}
