body {
  background-color: $white;
  // background-image: url(https://source.unsplash.com/1600x900/?recipes,food);
  background-repeat:no-repeat;
  background-size:cover;
  background-blend-mode: overlay;
}


.navbar-basic {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.dropdown-toggle-avatar {
  object-fit: cover;
  margin: 0;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 0;
  border: 2px solid #eee;
}

.profile-avatar {
  object-fit: cover;
  margin: 0;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-right: 0;
  border: 2px solid #eee;
}

//Buttons
.btn-primary {
  background-color:$orange;
  color:$white;
  border:0;
  &:hover {
    background-color:$dark-orange;
  }
}

.btn-secondary {
  background-color:$green;
  color:$white;
  border:0;
  &:hover {
    background-color:$dark-green;
  }
}

.jumbotron {
  background-color: transparent;
}

.add-recipe-card {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: 0 !important;
}

.recipeAddNavItem.active {
  background-color: #f8f9fa !important;
  border-bottom: 0 !important;
}

// .add-recipe-card {
//   border: 1px solid rgba(0, 0, 0, 0.125);
//   border-top: 0 !important;
//   border-radius: 0.25rem;
// }

.w-15 {
  width: 15% !important;
}

.select2 {
  width:100%!important;
}


#progress-inputs {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.progress-bar-success {
  background-color: $green;
}


.position-relative{
  position: relative;
}
.position-absolute {
  position: absolute;
}
.top-right{
  top: -10px;
  right: -10px;
}
