body {
  background-color: $white;
  // background-image: url(https://source.unsplash.com/1600x900/?recipes,food);
  background-repeat:no-repeat;
  background-size:cover;
  background-blend-mode: overlay;
  font-family: 'Open Sans', sans-serif;
}


.navbar-basic {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.dropdown-toggle-avatar {
  object-fit: cover;
  margin: 0;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 0;
  border: 2px solid #eee;
}

.profile-avatar {
  object-fit: cover;
  margin: 0;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-right: 0;
  border: 2px solid #eee;
}

//Buttons
.btn-primary {
  background-color:$orange;
  color:$white;
  border:0;
  &:hover {
    background-color:$dark-orange;
  }
}

.btn-secondary {
  background-color:$green;
  color:$white;
  border:0;
  &:hover {
    background-color:$dark-green;
  }
}

.jumbotron {
  background-color: transparent;
}

.add-recipe-card {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: 0 !important;
}

.recipeAddNavItem.active {
  background-color: #f8f9fa !important;
  border-bottom: 0 !important;
}

// .add-recipe-card {
//   border: 1px solid rgba(0, 0, 0, 0.125);
//   border-top: 0 !important;
//   border-radius: 0.25rem;
// }

.w-15 {
  width: 15% !important;
}

.select2 {
  width:100%!important;
}


#progress-inputs {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.progress-bar-success {
  background-color: $green;
}


.position-relative{
  position: relative;
}
.position-absolute {
  position: absolute;
}
.top-right{
  top: -10px;
  right: -10px;
}

.hr-short {
  position: relative;
  border-bottom: 1px solid #d7d7d7;
}
.hr-short:before {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    background-color: $primary;
    height: 4px;
    width: 50px;
}

.w-20 {
  min-width: 20px;
}

.section-title {
  span {
    color: $primary !important;
  }

  color: #000;
}

.bg-shadow {
  box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.13);
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
  transition: box-shadow .3s;
}

.bg-shadow:hover {
  box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.25) !important;
}

.list-inline-item-padding:not(:last-child) {
    margin-right: 1rem !important;
}


.mb-6 {
  margin-bottom: 6rem !important;
}

.mb-7 {
  margin-bottom: 7rem !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.mb-9 {
  margin-bottom: 9rem !important;
}
.mb-10 {
  margin-bottom: 10rem !important;
}
