.container-search {

    h1 {
        color: #fff;
        font-size: 28px;
    }

    #make-search {
        label {
            font-size: 19px;
        }
    }

    .card {

        .card-title {
            color: $green;
            font-weight: 600;
            font-size: 21px;
        }

        .card-body {

            .stars i {
                color: $green;
            }

        }

        .card-footer {
            border: 0 none;
            background: transparent;
            padding-top: 0;

            a {
                color: #000;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }

        }

    }

}
