.card-profile-img {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card-category {
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 500;
}

.card-title {
  font-size: 1.5rem;
  line-height: 1.5em;
}
