.bg-shadow {
  box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.13);
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
  transition: box-shadow .3s;
}

.bg-shadow:hover {
  box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.25) !important;
}
