.bg-image {
  // background-image: url(https://source.unsplash.com/1600x900/?recipes,food);
  background-repeat:no-repeat;
  background-size:cover;
  background-blend-mode: overlay;
  background-position: center center;
  font-family: 'Open Sans', sans-serif;
  // height: 100vh;
  //
  // &:before {
  //   height: 100vh;
  //   content: '';
  // 	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
  // 	opacity: .6;
  // }
}

.square {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}

.bg-full {
  height: 100vh;
}

.text-primary {
  color: $primary !important;
}

.navbar-basic {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.dropdown-toggle-avatar {
  object-fit: cover;
  margin: 0;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 0;
  border: 2px solid #eee;
}

.profile-avatar {
  object-fit: cover;
  margin: 0;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-right: 0;
  border: 2px solid #eee;
}

//Buttons
.btn-primary {
  background-color:$orange;
  color:$white;
  border:0;
  &:hover {
    background-color:$dark-orange;
  }
}

.btn-secondary {
  background-color:$green;
  color:$white;
  border:0;
  &:hover {
    background-color:$dark-green;
  }
}

.jumbotron {
  background-color: transparent;
}

.add-recipe-card {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: 0 !important;
}

.recipeAddNavItem.active {
  background-color: #f8f9fa !important;
  border-bottom: 0 !important;
}

.select2 {
  width:100%!important;
}

#progress-inputs {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.progress-bar-success {
  background-color: $green;
}

.position-relative{
  position: relative;
}

.position-absolute {
  position: absolute;
}

.top-right{
  top: -10px;
  right: -10px;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  min-width: 20px;
}

.hr-primary-start,
.hr-primary-end, {
  position: relative;
  border-bottom: 1px solid #d7d7d7;
}

.hr-primary-start:before {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  background-color: $primary;
  height: 4px;
  width: 50px;
}

.hr-primary-end:before {
  position: absolute;
  content: "";
  bottom: -2px;
  right: 0;
  background-color: $primary;
  height: 4px;
  width: 50px;
}

.section-title {
  span {
    color: $primary !important;
  }

  color: #000;
}

.list-inline-item-padding:not(:last-child) {
  margin-right: 1rem !important;
}

.rounded-2 {
  border-radius: 2rem;
}

.btn-outline-primary:hover {
  color: $white !important;
}

.btn-rounded {
  border-radius: 2rem !important;
}

.text-red {
  color: #f44242 !important;
}

// Bounce effect
.bounce {
  flex-direction: column;
  min-width: 0;
  display: flex;
  background-clip: border-box;

  -moz-transition: all .2s ease-in-out !important;
  -webkit-transition: all .2s ease-in-out !important;
  -ms-transition: all .2s ease-in-out !important;
  -o-transition: all .2s ease-in-out !important;
  transition: all .2s ease-in-out !important;

   &:hover {
     box-shadow:0 12px 19px -7px rgba(0,0,0,.3);
     transform:translateY(-10px);
     -webkit-transform:translateY(-10px);
     -ms-transform:translateY(-10px);
     -moz-transform:translateY(-10px)
   }
}

// Bounce the Card Header Image only effect
.card-header-bounce {
  .card-header-image {
    flex-direction: column;
    min-width: 0;
    display: flex;
    background-clip: border-box;

    -moz-transition: all .2s ease-in-out !important;
    -webkit-transition: all .2s ease-in-out !important;
    -ms-transition: all .2s ease-in-out !important;
    -o-transition: all .2s ease-in-out !important;
    transition: all .2s ease-in-out !important;
  }

   &:hover {
     .card-header-image {
       box-shadow:0 12px 19px -7px rgba(0,0,0,.3);
       transform:translateY(-10px);
       -webkit-transform:translateY(-10px);
       -ms-transform:translateY(-10px);
       -moz-transform:translateY(-10px)
     }
   }
}






// Card reveal on hover effect
.card-hover {

  opacity: 1;

  .download-button,
  .user-avatar,
  .heart-amount {
    visibility: hidden;
    opacity: 0;
  }

  &:hover {

    .position-relative {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      background-color: $black;
    }

    .download-button {
      position: absolute;
      right: 12px;
      bottom: 12px;
      // -webkit-transform: translate(-50%, -50%);
      // transform: translate(-50%, -50%);
      visibility: visible;
      opacity: 10;
      transition: opacity 1s ease;
    }

    .heart-amount {
      position: absolute;
      right: 12px;
      top: 12px;
      visibility: visible;
      opacity: 10;
      transition: opacity 1s ease;
    }

    .user-avatar {
      position: absolute;
      left: 12px;
      bottom: 12px;
      visibility: visible;
      opacity: 10;
      transition: opacity 1s ease;
    }

    .card-img-top {
      opacity: 0.7;
    }
  }

}
